@import "tailwindcss";
@plugin "daisyui";


/* Theme variables */
:root {
    --background: #ffffff;
    --foreground: #18181b;
}

[data-theme="dark"] {
    --background: #18181b;
    --foreground: #f3f4f6;
}

body {
    background: var(--background);
    color: var(--foreground);
    transition: background 0.2s, color 0.2s;
}




a.active {
    color : blue;
    border-bottom: 2px solid blue;
}